@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

body {
  font-family: "Syne", sans-serif;
}

/* HEADER */

#menu-item-38 {
  background-color: #db9f95;
}

#menu-item-38 .text-wrap {
  color: white;
}

#menu-item-38 :hover {
  background-color: #bf2e43;
}

/*Contact Form 7 */

/* Preorder Ammount */

.wpcf7-form-control-wrap {
  font-family: "Inter", sans-serif;
}

#Quantites-de-fraises {
  display: block;
  width: 39px;
  height: 56px;
  text-align: center;
  background-color: white;
}

#Quantites-de-pamplemousses {
  display: block;
  width: 39px;
  height: 56px;
  text-align: center;
  background-color: white;
}

#Quantites-de-framboises {
  display: block;
  width: 39px;
  height: 56px;
  text-align: center;
  background-color: white;
}

#Quantites-de-citrons {
  display: block;
  width: 39px;
  height: 56px;
  text-align: center;
  background-color: white;
}

/* Preorder Form */

.form-container {
  font-family: "Syne", sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form-column {
  width: auto;
}

.form-column h2 {
  color: white;
  font-size: 24px;
}

.form-column p {
  margin-bottom: 20px;
}

.form-column label {
  display: block;
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-column input[type="text"],
.form-column input[type="email"] {
  background-color: white;
  width: 383px;
  height: 71px;
  padding: 10px;
  border-radius: 7px;
  box-sizing: border-box;
}

#information {
  padding-right: 44px;
}

#livraison {
  border-left: 1px solid white;
  padding-left: 44px;
}

.submit-container {
  text-align: center;
  margin: 44px 450px;
}

.submit-container input[type="submit"] {
  font-family: "Syne", sans-serif;
  font-size: 15px;
  background-color: #e0b9b4;
  color: white;
  width: 198px;
  height: 55px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-container input[type="submit"]:hover {
  background-color: #c02e44;
}

/* Contact Form */

.form-container-contact {
  font-family: "Syne", sans-serif;
  display: flex;
  justify-content: space-between;
}

.form-column-contact p {
  margin-bottom: 20px;
}

.form-column-contact label {
  display: block;
  color: black;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.form-column-contact input[type="text"],
.form-column-contact input[type="email"] {
  background-color: white;
  width: 383px;
  height: 71px;
  padding: 10px;
  border-radius: 7px;
  box-sizing: border-box;
}

.wpcf7-textarea {
  background-color: white;
  width: 383px;
  height: 237px;
  padding: 10px;
  border-radius: 7px;
  box-sizing: border-box;
}

.submit-container-envoyer {
  text-align: center;
  padding-top: 20px;
  padding-left: 65px;
}

.submit-container-envoyer input[type="submit"] {
  font-family: "Syne", sans-serif;
  font-size: 15px;
  background-color: #e0b9b4;
  color: white;
  width: 198px;
  height: 55px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-container-envoyer input[type="submit"]:hover {
  background-color: #c02e44;
}
